.pointer{
    cursor: pointer !important;
}
.header{
    
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header_navbar{
    display:flex;
    justify-content:space-between;  
}
.header_navbar-list{
    list-style:none;
    padding-left: 0;
    margin: 8px 0px 0px 0px;
    display:inline-flex;
}
.header_navbar-item{
    display : inline-block;
    margin : 0px 8px;
    position: relative;
}
.header_navbar-item,.header_navbar-item-link{
    font-size:1.8rem;
    color:white;
    text-decoration: none;
    font-weight:400;
    display:inline-flex;
    align-items: center;
}
.header_navbar-item:hover{
    color: rgba(255,255,255,0.5);
}
.header-item-strong{
    font-weight: 500;

}
.header_navbar-item:hover .header_qr{
    display:block;
    transition: 2s;
    opacity:1 !important;
}
.header_navbar--saparate::after{
    content: '';
    position:absolute;
    display: inline-block;
    width:2px;
    height: 15px;
    background-color:#FB9086;
    right:-9px;
    top:50%;
    transform:translateY(-50%);        
}
 .header_qr{
    position:absolute;
    top:100%;
    left:0;
    background-color:white;
    /* width:150px; */
    border-radius:3px;
    width: 250px;
    margin-top: 8px; 
    box-shadow:0 0 4px black;
    transform-origin: 50% top;
    animation:qr_effect linear 0.2s;
    z-index:3;
    display:none;
}
@keyframes qr_effect{
    from {
       transform: scale(0);
       opacity:0;
    }
    to{
        transform: scale(1);
       opacity:1;
    }

}
.header_qr::before{
    content: '';
    display:block;
    width:100%;
    height: 20px;
    position:relative;
    bottom:20px;  
}
.header_qr-img{
    width:100% ;
    padding-top:2px;
    
}

.header_navbar-icon-link{
    color:white;
    padding:0px 4px;
    font-size: 2rem;
    display:inline-flex;
    align-items: center;
    text-decoration: none;
}
.bigger_icon{
    font-size: 2.2rem;
    padding-right: 2px;
}
.header_navbar-item-link:hover{
    color:rgba(255,255,255,0.5);
}
.item-hover-defaults:hover{
    color: white !important;;
}
.header_qr-app{
    display : flex;
    height: 20px;
    justify-content:space-between;
    padding:0px 16px;
    position: relative;
    bottom:7px;
    
}
.header_notify::before{
    content: '';
    position: absolute;
    border:  18px solid;
    right:12px;
    top:-36px;
    border-color: transparent transparent white transparent;
    
}
.header_notify::after{
    content: '';
    height: 30px;
    width: 150px;
    position: absolute;
    top:-30px;
    right:0px;
    
}

.header_notify{
    z-index: 1;
    margin-top: 17px;
    width:512px;
    position:absolute;
    top:100%;
    right:0;
    background-color:white;
    box-shadow:0 0 5px black;
    display:none;
    height: auto;
    transform-origin: calc(100% - 20px) top ;
    animation: headernotifygrowth ease-in 0.3s;
    border-radius: 3px;
    z-index: 3;
}
@keyframes headernotifygrowth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform:scale(1);
        opacity: 1;
    }
}
.header_navbar_note{
    transition: 1s;
}
.header_navbar_note:hover .header_notify{
    display:block ;
}
.header_notify-head{
    height: 40px;
    color:rgba(0,0,0,0.5);
    background-color:white;
    border-radius: 3px;;
    
}
.header_notify-head h3{
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 40px;
}
.header_notify-list{
    padding : 0;
    list-style: none;
    
}
.header_notify-item .header_notify-link{
    display:flex;
}
.header_notify-item:hover{
    background-color:rgb(207, 204, 204);
}
.header_notify-link{
    text-decoration: none;
    background-color:rgba(238,75,43,0.1);
    padding:12px;
}
.header_notify-info{
    margin-left: 12px;
}
.header_notify-item-img{
    width:58px;
    object-fit: contain;
}
.header_notify-name{
    display:block;
    font-size: 2rem;
    color:black;
    font-weight: 400;

}
.header_notify-desc{
display:block;
font-size: 1.5rem;
line-height: 1.6;
color:#756f6e;
padding-top: 7px;
}
.header_notify-footer
{
    display:flex;
    justify-content:center;

}
.header_notify-footer a{
    text-decoration: none;
    padding : 15px 16px;
}

.modal_inner{  
    background-color: white;
    margin:auto;
    border-radius: 4px;

}
/* heading modal */
.auth_form-header{
    padding: 1px 50px;
    display: flex;
    /* height: 600px;
    width:600px; */
    /* width:777px;
    height: 620px; */
    justify-content: space-between;
    align-items:center;
    width:650px;
    border: radius 4px;
    
}
.auth_form-heading{
    padding-left: 5px;
    font-size: 3rem;
    font-weight: 400;
    cursor: default;
}
.auth_form-swich-btn{
    font-size:2rem;
    font-weight: 600;
    color:#f04d3e;
    cursor: pointer;
}

.modal_info-login{
    display: flex;
    flex-direction: column;
}
.modal_info{
    margin-top:20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 15px;
    height:50px;
    font-size:1.6rem;
    font-weight: 500;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    outline:none;
    color:rgba(0,0,0,0.2);
}
.modal_login-note{
    width:560px;
    text-align: center;
    font-size:1.5rem;
    margin-top:20px;
    margin-left:50px ;
    margin-right:50px ;
    font-weight: 500;
}
.modal_login-link-rules,.modal_login-link-security{
    text-decoration: none;
    color:#f04d3e;
    font-weight: 500;
    
}
.modal_btn-footer-contain{
    display: flex;
    justify-content: flex-end;
    margin-right: 42px;
    margin-top:115px;
    
}
.btn {
    font-size: 1.8rem;
    text-decoration: none;
    padding: 9px 52px;
    

}
.modal_btn-footer-back-contain{
    margin-right: 12px;
    cursor: pointer;
}
.modal_btn-footer-back-contain:hover{
    background-color:rgba(0,0,0,0.2);
    
}
.modal_btn-footer-register-contain:hover{
    cursor: pointer;
    opacity: 0.6;
}
.modal_btn-footer-back,.modal_btn-footer-register{
    text-decoration: none;
}
.modal_btn-footer-register-contain{
    background-color:#f04d3e;
    border-radius: 3px;;
    
}
.modal_btn-footer-register{
    color:white;

}
.modal_btn-footer-back{
    color:black;
}
.modal_social{
    background-color:rgba(0,0,0,0.05);
    margin-top: 65px;
    display: flex;
    padding: 20px 0px;

}
.modal_social-fb,.modal_social-email{
    display: flex;
    align-items: center;
    
}
.modal_social-fb:hover,.modal_social-email:hover
{
    cursor: pointer;
    
}
.modal_social-fb{
    background-color:rgb(52, 77, 131);
    font-size:1.7rem;
    margin-left: 40px;
    padding-right: 50px;
    border-radius: 3px;
    color:white;
}
.modal_social-fb .fb-icon{
    font-size: 2.3rem;
    padding-left: 20px;
    padding-right: 50px;
    
}
.modal_social-email{
    background-color:white;
    font-size:1.7rem;
    margin-left: 40px;
    padding-right: 50px;
    border-radius: 3px;
    color:#222020;
    margin-left :10px;
    
}
.modal_social-email .gg-icon{
    font-size: 2.3rem;
    padding-left: 20px;
    padding-right: 50px;   
}
.header_with_search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}
.header_logo{
    width:240px;
}
.header-with-search__shopee-logo{
    width:183px;
    padding-left: 7px;
}
.header_search{
    background-color: #fff;
    height: 50px;
    flex:1;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.header_cart{
    width: 188px;
    display: flex;
    justify-content: center;
}
.header_cart_icon{
    color:white;
    font-size:26px;
    margin-top:13px;
}
.header_search_input_wrap{
    flex:1;
    height: 100%;
    position:relative;
}
.header_search_input:focus ~ .header_search_history {
    display: block;
}
.header_search_input{
    width: 100%;
    height: 100%;
    outline: none;
    border-color: transparent;
    font-size: 1.8rem;
    color:var(--text-color);
    padding: 0px 16px;
    border-radius: 3px;
}
.header_search_history{
    position:absolute;
    background-color: #fff;
    width:calc(100% - 16px);
    top:107%;
    box-shadow: 0 1px 3px #ccc;
    border-radius: 3px;
    animation:fadein linear 0.1s;
    z-index:2;
    display: none;
    /* overflow: hidden; */
}
.header_heading_history{
    color:var(--text-color);
    font-size:1.8rem;
    opacity: 0.4;
    padding-left: 16px;
    padding-top:10px;
    padding-bottom: 8px;
    
}
.header_search_history_list{
    list-style: none;
    padding:0;
    margin:0;

}
.header_search_history_item{
    font-size: 1.8rem;
    font-weight: 400;
    padding:12px 16px 12px;
    cursor: pointer;
    

}
.header_search_history_list :last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.header_search_history_item:hover{
    background-color: rgba(0,0,0,0.05);
}
.header_search_history_item a{
    text-decoration: none;
    color:rgba(0,0,0,1);
    display: block;
}
.header_search_select{
    position: relative;
    border-left: 2px solid #ccc;
    padding-left: 17px;
    padding-bottom: 3px;
    padding-top:3px;
    cursor: default;
}
.header_search_select:hover .header_search_option{
    display: block;
}
.header_search_select_label{
    font-size: 1.8rem;
    color:var(--text-color);
}
.header_search_select_down_icon{
    font-size: 1.5em;
    color: #585252;
    padding:0 16px 0px 8px;
    position: relative;
    top: 1.5px;
    font-weight: 200 !important;
    
}
.header_search_btn{
    background-color:var(--primary-color);
    border:none;
    height: 88%;
    width: 70px;
    margin: 3px 3px 3px 0px;
    border-radius: 3px;
}
.header_search_btn_icon{
    color:white;
    font-size:2rem;
    font-weight: 200 !important;
}
.header_search_btn:hover{
    opacity: 0.6;
    cursor: pointer;
}
.header_search_option{
    width: 166px;
    list-style: none;
    position:absolute;
    top:120%;
    right: 2px;
    background-color:#fff;
    display:none;
    border-radius: 3px;
    box-shadow: 0 1px 3px #ccc;
    margin-bottom:0px;
    padding: 0; 
    animation:fadein linear 0.2s;
    z-index: 2;
}
.header_search_option::before{
    content: "";
    display: block;
    position: absolute;
    top:-15px;
    width: 168px;
    height: 15px;
}
.header_search_option:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.header_search_option:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.header_search_option_item {
    padding-bottom: 15px;
    padding-top:15px;
    padding-right: 9px;
    padding-left: 31px;
}
.header_search_option_item:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}
.header_search_option_item span{
    font-size:1.8rem;
}
.header_search_option_item i{
    font-size:1.7rem;
    font-weight: 500 !important;
    color:var(--primary-color);
    padding-left: 8px;
}
/* css cart hover */
.header_cart_relative{
    position: relative;
    padding: 5px 10px 5px 10px;
     
}
.header_cart_list::before{
    content: "";
    display: block;
    position: absolute;
    border-width: 35px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    top:-48px;
    right:-0px;
}
.header_cart_list{
    --growth-from: 0;
    --growth-to: 1;
    transform-origin: 100% 0%;
    position:absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:125%;
    right: -13px;
    width:500px;  
    cursor: pointer;
    background-color:#fff;
    box-shadow: 0 2px 10px #ccc;
    /* padding-bottom: 40px; */
    padding-top:20px;
    z-index:3;
    border-radius: 3px; 
    animation: growth linear 0.3s;
    
    
}
.cart_item_container{
    overflow-y: auto;
    max-height:60vh ;
}
.header_cart_relative:hover .header_cart_list{
    display: block;
    /* display: flex; */
}
.no_cart_text{
    margin-top: 20px;
    font-size: 2rem;
    opacity: 0.66   ;
    display:none;

}
.header_cart_list_no_cart_img{
    height: 100%;
    width: 80%;
    display:none;
    
}
.header_cart_list_no_cart{
    
}
.header_cart_list_no_cart .header_cart_list_no_cart_img,
.header_cart_list_no_cart .no_cart_text
{
  display: block;
}
.header_cart_count{
    --height: 20px;
    position:absolute;
    width: 24px;
    height: var(--height);
    background-color:white;
    font-size:1.55rem;
    text-align:center;
    color:var(--primary-color);
    line-height:18px;
    border-radius:10px ;
    border: 2px solid #e43816;
    left: 28px;
    top:10px;

}
.header_heading_cart_item_note{
    margin-left: 20px;
    cursor:default;
}
.header_heading_cart_item_note_text{
    font-size: 1.8rem;
    color:rgb(211, 211, 211);
    margin:0px 0px 20px 0px;
}
.item_note{
    padding:20px 20px;
}
.item_note:hover{
    background-color:rgb(245, 235, 235);
}  
.item_note{
 display:flex;
 align-items:center;
}
.item_note_img{
  width: 50px;
  border:2px solid rgba(0, 0, 0, 0.03);
  margin-right:10px;
}
.header_cart_item_info{
    width:100%;
    display:block;

    
}
.header_cart_item_head{
    display:flex;
    justify-content: space-between;
    height:50%;
}
.header_cart_item_name{
 margin:0;
 font-size:1.8rem;
}
.header_cart_item_price{
    font-size:1.8rem;
    padding-right:5px;
    color:var(--primary-color);
}
.header_cart_item_mutiple{
    font-size: 1.2rem;
}
.header_cart_item_quantity{
    font-size:1.5rem;
    padding-left:5px;
}
.header_cart_item_body{
    height:28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header_cart_item_desc{
    font-size:1.5rem;
    color: #585252;
}
.header_cart_item_remove{
    font-size:1.8rem;
    text-decoration:none;
    color:black;
}
.header_cart_item_remove:hover{
    color:var(--primary-color);
}
.btn_cart_note{
    height:80px;
    display:flex;
    align-items:center;
    justify-content: flex-end;

}
.btn_text_seen_all{
    color:white;
    background-color:var(--primary-color);
    width:150px;
    height: 40px;
    font-size: 1.5rem;
    text-align:center;
    line-height:40px;
    border-radius: 3px;
    
    margin-right:20px;
}
.btn_text_seen_all:hover{
opacity: 0.7;
}
.header_user{
    position: relative;
}
.header_user_img{
    width:27px;
    border-radius: 50%;
    margin-right:8px;
    cursor:pointer;
}
.header_user_name{
    margin:0px;
    cursor:pointer;
}
.header_user_info{
    position:absolute;
    background-color: white;
    top: 130%;
    width:200px;
    right: 0;
    z-index:2;
    box-shadow: 0 1px 2px rgb(140, 138, 138);
    border-radius: 3px;
    display:none;
}
.header_user:hover .header_user_info{
    display:block;
}

.header_user_info_list{
    --growth-from:0;
    --growth-to:1;
    list-style:none;
    padding:10px 0px;
    animation: fadein linear 0.2s;
    
    
}
.header_user_info_list::after{
    content: "";
    width: 200px;
    height: 50px;
    color:#1b100e;
    position:absolute;
    display:block;
    top:-17px;
}
.header_user_info_list::before{
   content: '';
    border-width:15px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    display: block;
   position:absolute;
   top:-25px;
   right: 80px;

}
.header_user_info_option{
   color:rgb(106, 96, 96);
   text-align:start;
   font-size: 1.6rem;
   padding:7px 15px;
    cursor: pointer;
   
   
}
.header_user_info_option:hover{
    background-color:rgb(230, 228, 228);
}
/* app container */
.app_container{
    background-color: #F5F5F5;
}
.app_content{
    padding-top:36px;
}
.category{
    background-color:white;
    border-radius: 3px;
}
.category_heading{
    font-size: 1.8rem;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin:0px;
    text-align: left;
}
.category_heading_icon{
    font-size: 1.6rem;
    margin-right: 6px;
    position:relative;
    top:-1px;
}
.category_list{
    list-style: none;
    padding:0px 0px 8px 0px;  
    margin:0;
}
.category_item{
    position:relative;
    margin-left:16px;
    margin-right: 16px;
    padding: 8px 0;
}
.category_item:first-child::before{
    display: none;
}
.category_item::before{
    content:'';
    border-top: 1px solid #E1E1E1;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
.category_item_active .category_item_link{
    color:var(--primary-color);
}
/* .category_item_active .category_item_link::before{
    content:'';
    position:absolute;
    border:6px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left:7px;
    top:49%;
    transform:translateY(-55%);
} */
.category_item_link{
    position: relative;
    text-decoration: none;
    color:var(--text-color);
    font-size:1.5rem;
    padding:8px 0px;
    display: block;
    font-weight: 500;
    right:0;
    text-align: left;
    
    /* transition: right linear 0.1s; */
}

.category_item_link:hover{
    /* right:-4px; */
    color:var(--primary-color);
}
/* sort + filter */
.btn_home_filter{
        min-width:110px;
        height:38px;
        text-decoration: none;
        font-size:1.6rem;
        padding:0 12px;
        outline:none;
        cursor: pointer;
        color:black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1.6rem;
        border:none;
        background-color: white;
        margin-right:15px;
        border-radius: 3px;

}
.btn_home_filter_active{
    background-color:var(--primary-color)!important;
}
.home_filter{
    display:flex;
    background-color: rgba(0,0,0,0.05);
    align-items: center;
    padding:15px 22px;
    border-radius: 3px;
    width:100%;
}
.home_filter_label{
    font-size: 1.6rem;
    color:#555555;
    margin-right:20px;
    cursor:default;
}
.btn_select_home_filter{
    cursor:pointer;
}
.home_filter_page{
    display:flex;
    align-items: center;
    margin-left:auto;
}
.home_filter_page_num{
    font-size:1.6rem;
    color:var(--text-color);
    margin-right:25px;
}
.home_filter_page_current{
 color:var(--primary-color);
}
.home_filter_page_control{
    overflow:hidden;
    background:white;
    border-radius: 3px;
    border: 1px solid rgb(223, 218, 218)
}
.home_filter_page_btn{
    width:40px;
    height:40px;
    display:inline-block;
    line-height:40px;
    text-align:center;
    font-size:1.4rem;
}
.home_filter_page_btn_diff{
    background:#EEE;
    color:#555;
    cursor:default;
}
.home_product_item{
    background-color: #fff;
    margin-top:15px;
    cursor:pointer;
    position:relative;
    border-radius: 3px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    top:0;
    transition: top linear 0.1s;
}
.home_product_item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0,0,0.05);
    top:-2px;
}
.home_product_item_img{
    padding-top:100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 3px;
}
.home_product_info{
    padding:10px;
    position:relative;
}
.home_product_item_name{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color:var(--text-color);
    font-weight:400;
    margin: 0 0 10px 0;
    height:3.6rem;
    overflow: hidden;
    display: block;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
     
}
.home_product_item_price{
    display:flex;
    align-items: baseline;
    flex-wrap: wrap;

}
.home_product_item_price_old{
    font-size:1.5rem;
    color:#666;
    text-decoration: line-through;
    padding-right: 8px;
}
.home_product_price_new{
    font-size:1.6rem;
    color:var(--primary-color);
    
}
.home_product_item_action{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:7px;
}
.home_product_item_heart{
    font-size:1.2rem;
    color:rgba(0, 0, 0, 0.3);
}
.home_product_item_rating{
    font-size:0.8rem;
    color:rgb(154, 153, 153);
    margin-left: auto;
    margin-top:-1px;
}
.home_product_item_star_gold{
    color:rgb(238, 223, 14)
}
.home_product_item_bought{
    font-weight: 500;
    font-size:1.2rem;
    margin-left: 6px;
    color:rgba(0, 0, 0, 0.7);
}
.home_product_item_info{
    
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size:1rem;
    margin-top:7px;
    font-weight: 500;
    color:rgb(154, 153, 153);
}
.home_product_item_brand{
    
}
.home_product_item_made{
    
}
.home_product_item_favourite{
    position:absolute;
    top:-234px;
    left:-4px;
    color:var(--primary-color);;
    background-color:currentColor; 
    font-size:1.2rem;
    font-weight:500;
    line-height:1.6rem;
    padding:0px 4px 0 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home_product_item_favourite span{
    color:white;
}
.home_product_item_favourite::before{
    content: '';
    border-top:3px solid currentColor;
    border-left:3px solid transparent;
    position:absolute;
    display:block;
    left: 0px;
    top:16px;
    filter:brightness(60%);
}
.home_product_item_favourite::after{
    content: '';
    border-width: 0 22px 6px;
    border-style: solid;
    border-color: transparent rgba(235, 189, 64, 0.95) transparent rgba(235, 189, 64, 0.95);
    position:absolute;
    display:block;
    right: -175px;
    top: 31px;
}
.home_product_item_favourite i{
    font-weight: 300;
    font-size: 1rem;
    color:white;
    padding-right: 2px;
}
.home_product_item_sale{
    position:absolute;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:44px;
    background-color:rgba(235, 189, 64, 0.95);
    padding: 2px 2px;
    border-radius: 3px;
}
.home_product_item_sale_percent{
    font-size:1.5rem;
    color: var(--primary-color);
    font-weight:500;
    padding-bottom: 2px;
}
.home_product_item_sale_label{
    color:white;
    font-weight:500;
    font-size:1.5rem;
}
.pagination{
    display:flex;
    justify-content: center;
}
.pagination_page_list{
    display:flex;
    justify-content: center;
    list-style:none;
    font-size:2rem;
    
    
}
.pagination_element{
    text-decoration: none;
    min-width:40px;
    height:30px;
    margin: 0 10px;
    margin-top:50px;
    text-align:center;
    line-height:30px;
}
.pagination_next_page_icon{
    text-decoration: none;
    color: rgb(149, 147, 147);
    font-weight:200;
    width:100%;


}
.pagination_page{
    text-decoration: none;
    color: rgb(135, 135, 135);
    font-weight: 400;
    width:100%;
    display:block;
    
}
.page_active{
    background-color: var(--primary-color);
}
.page_active:hover{
    opacity:0.7;
}
.page_active a{
    color:white;

}
/* footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}
.footer_heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    color:var(--text-color);
    margin-bottom:6px;
}
.footer_list{
    list-style: none;
    padding-left: 0;


}
.footer_item{
    display: block;
    padding: 6px 0;
}
.footer_item_link{
    text-decoration: none;
    font-size: 1.4rem;
    color:#737373;
    display: flex;
    align-items: center;
}
.footer_item_link:hover{
    color:var(--primary-color);
}
.footer_item_icon{
    display:block;
    margin-top:-3px;
    font-size: 1.7rem;
    margin-right:4px;
}
.footer_download{
    display: flex;

}
.footer_download_qr{
    height:84px;
    margin-right:15px;

}
.footer_download_app{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer_download_app_img{
    height:20px;
    margin-top:5px;
}
.footer_bottom{
    background-color:#F5F5F5;
    padding:10px 0;
    
}
.footer_bottom_text{
    font-size:1.4rem;
    text-align: center;
    width:100%;
    display: block;

}